@font-face {
    font-family: "folk";
    src: url("../fonts/A-OTF-FolkPro-Bold_0.otf") format("truetype");
}
@font-face{
    font-family: "shingo";
    src: url("../fonts/a-otf-shingopro-light_0.otf") format("truetype");
}
*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    overflow-x: hidden;
    font-family: "shingo";
    /* line-height: 1.5em; */
}
a{
    color: #000;
}
.flex{
    display: flex;
}
.mid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
main{
    overflow-x: hidden;
    margin-top: 100vh;
    position: relative;
    z-index: 1;
}

/* topーーーーーーーーーーーーーーーーーー */
.top{
    background-image: url("../img/topBg.png");
    background-size: cover;
    background-position: bottom;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
}
.catchcopy{
    font-family: "folk";
    font-size: 100px;
    width: 90%;
}

/* headerーーーーーーーーーーーーーーーーーー */
header{
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 20px 0;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
}
.logo{
    width: 180px;
    height: 40px;  
}
.nav__box li{
    list-style: none;
    margin-right: 20px;
}
.nav__box a{
    font-family: "folk";
    text-decoration: none;
    font-size: 20px;
}

.humberger, .header__mobile__nav{
    display: none;
}


/* sectionーーーーーーーーーーーーーーーーーー */
section{
    background: #ffffff;
    position: relative;
    z-index: 100;
}
.sec__title__right{
    text-align: right;
}
.sec__title{
    display: inline;
    font-size: 200px;
    font-family: "folk";
    background: linear-gradient(transparent 50%, #e6e6e6e6 0);
    color: #f2f2f2;
}
.left{
    margin-left: -60px;
}
.right{
    margin-left: auto;
    margin-right: -60px;
}

/* parallaxーーーーーーーーーーーーーーーーーー */
 .parallax{
    width: 100vw;
    min-height: 420px;
    /* background-image: url("../img/topBg.png"); */
    background-size: cover;
    background-position: center bottom;
}
/* .inversion{
    transform: scale(-1,1);
    -webkit-transform: scale(-1,1);
    -moz-transform: scale(-1,1);
    -ms-transform: scale(-1,1);
    -o-transform: scale(-1,1);
} */
.hide{
    opacity: 0;
}

/* newsーーーーーーーーーーーーーーーーーー */
.news{
    box-shadow: 0 -20px 5px #000;
}
.news__box{
    align-items: center;
    width: 80%;
    padding: 100px 0;
    margin: 0 auto;
}
.list__item{
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 40px;
    margin-top: 50px;
}
.list__item:first-child{
    margin: 0;
}
.li__news__tag{
    text-align: center;
    width: 15%;
    line-height: 40px;
    border: 1px solid #707070;
    margin-right: 50px;
}
.news__time, .news__content{
    border-bottom: 1px solid #e6e6e6;
}
.news__time{
    width: 10%;
    padding-right: 50px;
}
.news__content{
    width: 75%;
}
.news__box__mobile{
    display: none;
}

/* companyーーーーーーーーーーーーーーーーーー */
.company__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 100px 0;
    margin: 0 auto;
}
.company__left{
    width: 50%;
}
.company__left h3{
    font-size: 50px;
    color: #707070;

}
.company__detail__box{
    margin-top: 50px;
}
.company__detail__box li{
    display: flex;
    font-size: 20px;
    width: 100%;
    padding-bottom: 20px;
    padding-left: 50px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 20px;
}
.detail__title{
    width: 50%;
}
.company__detail__box p{
    width: 50%;
}
.company__right{
    background-image: url("../img/companyImg.jpeg");
    background-size: cover;
    width: 500px;
    height: 570px;
    box-shadow: 35px 30px 0 #868686;
}

/* businessーーーーーーーーーーーーーーーーーー */
.bis__contents{
    padding: 150px 0 250px;
}
.bis__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.bis__img1{
    background-image: url("../img/business1.jpeg");
    background-size: cover;
    box-shadow: -20px 18px 0 #EBEBEB;
    width: 300px;
    height: 400px;
    position: absolute;
    top: 0;
    z-index: 10;
}
.bis__img2{
    background-image: url("../img/business2.jpeg");
    background-size: cover;
    background-position: bottom;
    width: 270px;
    height: 340px;
    position: absolute;
    top: 200px;
    left: 250px;
}
.bis__detail__box{
    width: 50%;
}
.bis__detail__box h3{
    font-size: 50px;
    color: #707070;
}
.Overview__box{
    margin-top: 40px;
}
.Overview__box h4{
    font-size: 30px;
    margin-bottom: 30px;
}
.Overview__box p{
    font-size: 20px;
    margin-bottom: 30px;
 }

/* businessーーーーーーーーーーーーーーーーーー */
.contact__box{
    padding: 100px 0 150px;
}
form{
    background: #AFAFAF;
    box-shadow: 65px 53px 0 #D0D0D0;
    width: 70%;
    padding: 50px 0;
    margin-left: 10%;
    margin-right: 20%;
}
.input__box{
    width: 60%;
    margin: 0 auto;
}
.input__box h3{
    font-size: 20px;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 10px;
}
.first__input{
    margin-top: 0;
}
.input__box input{
    width: 100%;
    height: 30px;
}
.input__box textarea{
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
    resize: none;
}
button{
    display: block;
    background: #fff;
    color: #AFAFAF;
    font-size: 20px;
    width: 200px;
    height: 40px;
    margin: 0 auto;
}

/* footerーーーーーーーーーーーーーーーーーー */
footer{
    background: #000;
    color: #fff;
    justify-content: space-between;
    width: 90%;
    padding: 40px 5%;
}
.footer__box h2{
    font-size: 30px;
}
.mail__box{
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.mail__icon{
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 20px;
}
.twitter__icon{
    display: block;
    width: 16px;
    height: 16px;
}
.footer__detail__box h3{
    font-size: 20px;
    margin-bottom: 20px;
}
.footer__detail__box p{
    line-height: 1.5em;
}
.footer__nav__box{
    width: 35%;
    justify-content: space-between;
}
.footer__nav li a{
    color: #fff;
    text-decoration: none;
    line-height: 1.5em;
}

@media screen and (max-width: 768px){

    /* sectionーーーーーーーーーーーーーーーーーー */
    .parallax{
        height: 300px;
        background-position: bottom right;
    }

    /* topーーーーーーーーーーーーーーーーーー */
    .catchcopy{
        font-size: 65px;
    }
    
    /* headerーーーーーーーーーーーーーーーーーー */
    .header__nav{
        display: none;
    }
    .header__mobile__nav{
        display: block;
    }
    .humberger{
        display: block;
        text-align: center;
        width: 30px;
        height: 20px;
        position: fixed;
        top: 20px;
        right: 30px;
        cursor: pointer;
        z-index: 120;
    }
    .humberger span{
        position: absolute;
        top: 0;
        right: 0;
        line-height: 10px;
        height: 1px;
        width: 30px;
        border-radius: 3px;
        background: #000;
        display: block;
        content: '';
        cursor: pointer;
        transition: .4s;
    }
    .humberger span:nth-child(2) {
        top: 10px;
    }
    .humberger span:nth-child(3) {
        top: 20px;
    }
    .slide .humberger span:nth-child(3) {
        right: -5px;
        transition-delay: .3s;
    }
    .slide .humberger span:nth-child(2){
        right: -10px;
        transition-delay: .6s;
    }
    .slide .humberger span:nth-child(1){
        right: -15px;
        transition-delay: .9s;
    }
    .header__mobile__nav{
        background: #FFF;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 110;
        text-align: center;
        display: flex;
        visibility: hidden;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 29px;
        opacity: 0;
        transition: opacity .6s ease, visibility .6s ease;
    }
    .mobile__nav__box{
        list-style: none;
    }
    .header__mobile__nav li{
        opacity: 0;
        transform: translateX(-100px);
        transition:  transform .6s ease, opacity .2s ease;
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
    }
    .header__mobile__nav > ul > li:nth-child(3){
        transition-delay: .3s;
    }
    .header__mobile__nav > ul > li:nth-child(2){
        transition-delay: .6s;
    }
    .header__mobile__nav > ul > li:nth-child(1){
        transition-delay: .9s;
    }
    .header__mobile__nav a{
        width: 500px;
        font-size: 50px;
        display: block;
        color: #afafaf;
        text-align: center;
        text-decoration: none;
        padding: 20px 0;
        margin: 0 auto;
        transition: color .6s ease;
    }
    .slide .header__mobile__nav{
        visibility: visible;
        opacity: 1;
    }
    .slide .mobile__nav__box li{
        opacity: 1;
        transform: translateX(0);
        transition: transform 1s ease, opacity 0.9s ease;
        -webkit-transition: transform 1s ease, opacity 0.9s ease;
        -moz-transition: transform 1s ease, opacity 0.9s ease;
        -ms-transition: transform 1s ease, opacity 0.9s ease;
        -o-transition: transform 1s ease, opacity 0.9s ease;
    }

    /* sectionーーーーーーーーーーーーーーーーーー */
    .sec__title{
        font-size: 150px;
    }
    
    /* newsーーーーーーーーーーーーーーーーーー */
    .news__box{
        width: 80%;
    }
    .li__news__tag{
        width: 20%;
    }
    .news__content{
        width: 70%;
    }
    .list__item{
        font-size: 16px;
    }

    /* companyーーーーーーーーーーーーーーーーーー */
    .company__box{
        display: block;
        width: 70%;
        position: relative;
    }
    .company__left{
        width: 100%;
    }
    .company__box h3{
        font-size: 40px;
        text-align: center;
        margin-bottom: 80px;
    }
    .company__detail__box{
        position: relative;
        z-index: 11;
    }
    .company__detail__box li{
        font-size: 16px;
        padding-left: 0;
    }
    .detail__title{
        width: 40%;
        padding-left: 10%;
    }
    .company__detail__box p{
        width: 40%;
        padding-left: 10%;
    }
    .company__right{
        opacity: .2;
        width: 340px;
        height: 380px;
        position: absolute;
        top: 30px;
        left: -50px;
        z-index: 10;
    }

    /* businessーーーーーーーーーーーーーーーーーー */
    .bis__box{
        display: block;
        width: 70%;
    }
    .bis__contents{
        padding: 100px 0 150px; 
    }
    .bis__img__box{
        opacity: 0.2;
    }
    .bis__img1{
        box-shadow: 20px 18px 0 #868686;
        width: 220px;
        height: 280px;
        position: static;
        position: absolute;
        top: 0;
        right: 0;
    }
    .bis__img2{
        width: 190px;
        height: 230px;
    }
    .bis__detail__box{
        width: 100%;
        line-height: 1.5em;
    }
    .bis__detail__box h3{
        font-size: 40px;
        text-align: center;
        margin-bottom: 80px;
    }
    .Overview__box h4{
        font-size: 24px;
    }
    .Overview__box p{
        font-size: 16px;
    }
    /* contactーーーーーーーーーーーーーーーーーー */
    form{
        box-shadow: 35px 23px 0 #D0D0D0;
        width: 80%;
        margin: 0 auto;
    }
    .input__box{
        width: 70%;
    }
    .input__box h3{
        font-size: 16px;
    }
    .input__box input{
        height: 30px;
    }
    button{
        height: 30px;
        font-size: 16px;
    }

    /* footerーーーーーーーーーーーーーーーーーー */
    .footer__box h2{
        font-size: 28px;
    }
    .footer__detail__box h3{
        font-size: 18px;
    }
    .footer__detail__box p{
        font-size: 14px;
    }
    .footer__nav__box{
        width: 50%;
    }
    .footer__nav li a{
        font-size: 14px;
    }
}

@media screen and (max-width: 480px){

    /* topーーーーーーーーーーーーーーーーーー */
    .logo{
        width: 115px;
        height: 25px;
    }
    .catchcopy{
        top: 40%;
        width: 80%;
        font-size: 36px;
    }

    .header__mobile__nav a{
        font-size: 30px;
        width: 300px;
    }

    /* sectionーーーーーーーーーーーーーーーーーー */
    .sec__title{
        font-size: 80px;
    }
    .left{
        margin-left: -40px;
    }
    .right{
        margin-right: -40px;
    }

    /* newsーーーーーーーーーーーーーーーーーー */
    .news__box{
        display: none;
    }
    .news__box__mobile{
        display: block;
        padding: 100px 0;
    }
    .news__list{
        width: 80%;
        margin: 0 auto;
    }
    .news__time{
        width: auto;
        padding-right: 10px;
    }
    .li__news__tag{
        width: 30%;
        margin: 0 auto 30px;
    }
    .list__item{
        font-size: 12px;
        margin: 0;
    }

    /* companyーーーーーーーーーーーーーーーーーー */
    .company__box{
        width: 90%;
    }
    .company__box h3{
        font-size: 30px;
        margin-bottom: 50px;
    }
    .company__detail__box p{
        font-size: 14px;
    }
    .company__right{
        width: 240px;
        height: 280px;
        top: 50px;
        left: -50px;
    }

    /* bisーーーーーーーーーーーーーーーーーー */
    .bis__box{
        width: 90%;
    }
    .bis__img1{
        width: 170px;
        height: 220px;
        top: 40px;
        right: 0;
    }
    .bis__img2{
        width: 150px;
        height: 180px;
        left: 100px;
    }
    .bis__detail__box h3{
        font-size: 30px;
        margin-bottom: 50px;
    }
    .Overview__box h4{
        font-size: 18px;
    }
    .Overview__box p{
        font-size: 14px;
    }

    /* contactーーーーーーーーーーーーーーーーーー */
    form{
        width: 90%;
        padding: 25px 0;
    }
    .input__box h3{
        font-size: 14px;
    }
    .input__box input{
        height: 20px;
    }
    button{
        font-size: 14px;
    }

    /* footerーーーーーーーーーーーーーーーーーー */
    footer.flex{
        display: block;
    }
    .footer__box{
        margin-bottom: 30px;
    }
    .footer__box h2{
        font-size: 20px;
    }
    .mail__icon,.twitter__icon{
        width: 10px;
        height: 10px;
    }
    .mail__box p{
        font-size: 12px;
    }
    .footer__nav__box{
        width: 100%;
    }
    .footer__detail__box h3{
        font-size: 16px;
    }
    .footer__nav li a, .footer__nav p{
        font-size: 12px;
    }
}